<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>root_managerhome</title>
      <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/dashboard.css" rel="stylesheet">
    <link href="../static/css/signin.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/manager.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ex6</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">root管理员主页</a></li>
                <li><a href="/manager_logout">注销</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="row placeholder">
                <label>账户信息</label>
                 <button data-toggle="modal" data-target="#addMagDlg"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="nav nav-sidebar">
                <div class="list-group-item" id="MAccount"></div>
                <div class="list-group-item" id="MLevel"></div>
            </div>
        </div>
    </div>


     <script id="list_Manager_Temp" type="text/x-jQuery-tmpl">
        <li class="list-group-item">
            <div class="checkbox">
                <label>${Account}</label>
                <label>${Level}</label>
            </div>
            <div class="pull-right action-buttons">
                <a mag-id=${Id} onclick="ConfirmDeleteMag(this)"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </li>
    </script>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="page-header">管理员列表</h2>
        <div class="row">
            <div class="panel-body" style="max-width: 1000px">
                <ul id="list_manager" class="list-group">

                </ul>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addMagDlg" tabindex="-1" role="dialog" aria-labelledby="ddMagDlgLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">添加管理员</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-signin">
                    <div class="form-group"class="form-signin">
                        <label for="recipient-name" class="control-label">账号：</label>
                        <input type="text" class="form-control" id="addAccount" placeholder="请输入ord+四位数字的形式">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">密码:</label>
                        <input type="password" class="form-control" id="addPassword" placeholder="字母+数字(不少于6位)"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" onclick="AddManager()" class="btn btn-primary">添加</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteMagDlg" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                <h4 class="modal-title" style="color:red;" id="deleteModalLabel"><b>您将永久删除此管理员 !!</b></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="DeleteMag()">删除</button>
            </div>
        </div>
    </div>
</div>


<footer>
    <p class="pull-right"><a href="#">返回顶部</a></p>
    <p align="center">&copy; 2017 Designed by SiyinKong, Inc. &middot; <a href="#">版权所有</a>
</footer>

</body>
</html>